<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      
      <title>Item Not Found</title>
      
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      
      <link href="../public/css/blog_styles.css" rel="stylesheet">
      
    </head>
  


 <body>
   
  <div class="container">
    <br>
    <h1>Item Not Found</h1>
    <br>
    <br>
    <p>The information you are seeking can not be found.</p>
  
  
  
  <br>
   
   <div class="bottom"><p class="p-bottom"><a href="index.erb">Please return to the home page.</a></p></div>
   
   
  </div>
 </body>



</html>
