<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      
      <title>Post Page</title>
      
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      
      <link href="css/blog_styles.css" rel="stylesheet">
    </head>
  


 <body>
  <div class="container">
    <br>
    <a href="/">Home</a>&nbsp;|&nbsp;
    <a href="/login">Login</a>&nbsp;|&nbsp;
    <a href="/sign_up">Sign Up</a>&nbsp;|&nbsp;
    <a href="/feed">Blog Feed</a>&nbsp;|&nbsp;
    <br>
  <h1>Post by <small>John Doe</small></h1>
    <br>
    <br>
    
    <div id="user-id"><a href="#" title="John Doe . @user1"><img src="img/user-example.png"/>&nbsp;John Doe&nbsp;.&nbsp;@user1</a></div>
    <div id="postField" class="postField">
      
      <form action="feed.erb" method="post">
          <input type="text" name="postTitle" id="postTitle" placeholder="Title of your post" size="51px" maxlength="50" autofocus/><br><br>

          <textarea id="textArea" rows="4" cols="50" maxlength="150" placeholder="Type 150 characters or less."></textarea>
          <div id="textarea_feedback"></div><br>

          <button type="submit">Post</button>&nbsp;<button type="reset">Reset</button>
       </form>
    </div>
  
  <br>
  <span>Would you like to post again? <a href="/post">New Post</a></span>
  </div>
   
  <script type="text/javascript" src="js/jquery.min.js"></script> 
   
  <script type="text/javascript" src="js/charCounter.js"></script>
 </body>



</html>