<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      
      <title>Sign Up Page</title>
      
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      
      <link href="css/blog_styles.css" rel="stylesheet">
    </head>
  


 <body>
  <div class="container">
    <br>
    <a href="/">Home</a>&nbsp;|&nbsp;
    <a href="/login">Login</a>&nbsp;|&nbsp;
    <a href="/sign_up">Sign Up</a>&nbsp;|&nbsp;
    <a href="/feed">Blog Feed</a>&nbsp;|&nbsp;
    <br>
  <h1>Sign Up</h1>
    <br>
    <br>
  
  <form action="/" method="post">
    <label for="first_name">First Name</label>&nbsp;
    <input type="text" name="first_name" id="first_name" size="50px" maxlength="50"/><br><br>
    
    <label for="last_name">Last Name</label>&nbsp;
    <input type="text" name="last_name" id="last_name" size="50px" maxlength="50"/><br><br>
    
    <label for="username">Username</label>&nbsp;
    <input type="text" name="username" id="username" size="50px" maxlength="50"/><br><br>
    
    <label for="email">Email Address</label>&nbsp;  
    <input type="text" name="email_address" id="email_address" size="46px" maxlength="50"/><br><br>
    
    <label for="password">Password</label>&nbsp;&nbsp;&nbsp;
    <input type="password" name="password" id="password" size="50px" maxlength="50"/><br><br>
    
    
    <button type="submit">Next</button><br>
   </form>
    <br><br>
   
   <div>Already a User? &nbsp;&nbsp;<a href="login">Login</a></div>
 </div> 
</body>



</html>
